<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body style="background-color:#DFECE5;">

<p style="text-align:center;"> Basic Dajngo APp</p>

<p  style="border:2px solid Tomato;text-align:center;"> Make Your TEXT Punctuations Free!

</p>

<h1 align="center">Punctuations Remover,Enter you text below</h1>
<form  style="text-align:center;" action="/analyze" method="get";" >

  <textarea name="text" style="width: 945px; height: 105px;">  </textarea><br>


      <input type="checkbox" name="removepunc">Remove punctuations <br>
    <button type="submit"   style="font-weight: 700;line-height: 1.2;font-size: 34px;font-style: italic;text-align:center"> Analyze </button>



</form>



</body>
</html>
